body {
  margin: auto;
  min-width: 360px;
  font-size: 100%
}
.bloc {
  width: 90%;
  margin: auto;
  padding: 20px 0;
}
.empty-star {
  color: #dadada;
}

h1, h2{
  font-family: 'raleway', Arial, serif;
  font-size: 1.2rem;
}

h3, p, a
{
    font-family: 'raleway', Arial, serif;
    font-size: 0.875rem;
}

/* HEADER */
/* NAVIGATION */
nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
nav img {
  margin: auto;
  margin-left: 5%;
}
nav p {
  margin: auto;
  margin-right: 5%;
  padding: 30px 0 30px 0;

  color: #0065fc;
  font-weight: 700;
  border-top: 4px solid #ffffff;
  display: inline;
  cursor: pointer;
}
nav p::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #0065fc;
  transform: scale(0);
  transition: 0.2s ease-out;
}
nav p:hover::after {
  transform: scale(1);
}
nav ul {
  list-style-type: none;

  display: flex;
  width: 100%;
  padding: 0;
}
nav li {
  width: 100%;
  text-align: center;
}
nav a {
  display: inline-block;
  width: 100%;

  padding-bottom: 15px;
  border-bottom: 4px solid #f2f2f2;

  text-decoration: none;
  color: black;
  font-weight: 400;
  transition: 0.3s linear;
}
nav li a:hover {
  border-bottom: 4px solid #0065fc;
  color: #0065fc;
}

/* PRESENTATION */
#presentation h2 {
  font-size: 22px;
  font-weight: 700;
}
#presentation h3 {
  font-size: 16px;
  font-weight: 400;
}

/* SEARCH */
form {
  position: relative;
  display: flex;
  max-width: 375px;
  height: 50px;
  transition: all 0.5s;
  border: 0;
  outline: none;
}
form span {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
}
form input {
  flex-grow: 2;
  padding-left: 15px;
  border: 1px solid #f2f2f2;
  border-radius: 0 10px 10px 0;
  font-size: 16px;
  font-weight: 600;
}
form input:focus {
  border: 0 none;
}
form button {
  width: 60px;
  height: 50px;

  position: absolute;
  top: 0;
  right: 0;

  border: 0;
  border-radius: 10px;
  cursor: pointer;

  transition: all 0.3s;
  background-color: #0065fc;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
form button:hover {
  background-color: #0026fc;
}
#search-word {
  display: none;
}

/* FILTERS */
#filters
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    width: 80%; 
}
.filters
{
    margin-left: 1.25rem;
}
.box
{
    display: flex;
    justify-content: space-around;
    width: 110%;
}
.box_filters
{
    display: flex;
    align-items: center;
    border-radius: 1.875rem 1.875rem 1.875rem 1.875rem;
    border: 2px solid #F2F2F2;    
}
.option
{
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}
.logo_filters
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.0625rem;
    color: #0065FC;
    font-size: 1.25rem;
    background-color:#DEEBFF;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 1.875rem 1.875rem 1.875rem 1.875rem;
}
.box a
{
    text-decoration: none;
    color: black;
}
.box a:hover
{
    color: #0065FC;
}
/* INFO */
#info p {
  display: flex;
  align-items: baseline;
}
#info_ico {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  min-width: 20px;
  max-width: 20px;
  max-height: 20px;
  min-height: 20px;

  margin-right: 10px;
  padding: 2px;

  border: 2px solid #f2f2f2;
  border-radius: 40px;
  font-size: 12px;
  color: #0065fc;
}

@media only screen and (min-width : 769px) and (max-width : 1024px)
{
    #filters
    {
        width: 100%;
        flex-wrap: wrap;
    }   
}
@media screen and (max-width: 768px)
{
    #filters
    {
        flex-direction: column;
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .filters
    {
        width: 95%;
    }
    .box
    {
        justify-content: space-between;
        flex-wrap: wrap;
        width: 105%;
    }
    .box_filters
    {
        margin-bottom: 5%;  
    }
    .logo_filters
    {
        width: 1rem;
        height: 1rem;
    }
    .option
    {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

/* HEADER RESPONSIVE */
@media screen and (min-width: 768px) {
  /* NAV */
  nav {
    height: 70px;
    width: 90%;
    margin: auto;
    flex-wrap: nowrap;
    align-items: flex-end;
  }
  nav img {
    margin: 0;
    margin-bottom: -8px;
  }
  nav p {
    order: 3;
    margin: 0;
    margin-left: 30px;
    padding-bottom: 0;
  }
  nav ul {
    width: auto;
    margin: auto;
    margin-right: 0;
  }
  nav li a {
    width: auto;
    padding: 30px;
    padding-top: 45px;

    border-bottom: 0;
    border-top: 4px solid #f2f2f2;
  }
  nav li a:hover {
    color: #0065fc;
    border-bottom: 0;
    border-top: 4px solid #0065fc;
  }


  /* SEARCH */
  form {
    position: initial;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    max-width: 430px;
  }
  form input {
    border: 0;
  }
  form button {
    position: initial;
    border-radius: 0px 10px 10px 0;
    flex-grow: 3;
  }
  #ico-search {
    display: none;
  }
  #search-word {
    display: initial;
  }
  /******/
}
/* END HEADER */

/* MAIN */
#lodging h2,
#activities h2 {
  font-size: 22px;
  font-weight: 700;
}

/* LODGING */
#lodging {
  display: flex;
  flex-direction: column;
}
.lodging_marseille_info h3,
.lodging_popular_info h3 {
  margin: 0;
  font-size: 15px;
}
.lodging_marseille_info p,
.lodging_popular_info p {
  font-size: 14px;
  margin: 0;
  margin-top: 5px;
}

/* RESPONSIVE LODGING */
@media screen and (min-width: 1300px) {
  #lodging {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 65% 30%;
    grid-column-gap: 5%;
  }
  #lodging_popular {
    order: 2;
  }
  #lodging_marseille {
    background-color: #f2f2f2;
  }
}
/* END RESPONSIVE LODGING */

/* LODGING POPULAR */
#lodging_popular {
  background-color: #f2f2f2;
}
#lodging_popular_bloc h2 {
  display: flex;
  justify-content: space-between;
}
#lodging_popular_bloc a {
  transition: all 0.2s ease-in-out;
  display: flex;

  height: 120px;
  padding: 5px;
  margin-top: 10px;

  text-decoration: none;
  border-radius: 20px;
  box-shadow: 2px 2px#c5c5c52c, -0.2em 0 0.4em #c5c5c5;

  background-color: #F2F2F2;
  color: black;
}
#lodging_popular_bloc a img {
  transition: all 0.3s linear;
  float: left;
  object-fit: cover;
  width: 45%;
  height: 120px;
  border-radius: 20px 0 0 20px;
}
.lodging_popular_info {
  position: relative;
  margin: 5px;
  padding-left: 10px;
  width: 50%;
}
.lodging_popular_info span {
  position: absolute;
  bottom: 0;
  color: #0065fc;
  font-size: 12px;
}

/* LODGING POPULAR RESPONSIVE */
@media screen and (min-width: 600px) {
  #lodging_popular_bloc a img {
    width: 60%;
  }
  .lodging_popular_info {
    width: 35%;
  }
}
@media screen and (min-width: 710px) and (max-width: 1300px) {
  #lodging_popular_bloc {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 50px;
    grid-column-gap: 5%;
    grid-row-gap: 20px;
    height: 500px;
    padding: 20px 0;
  }
  #lodging_popular_bloc h2 {
    grid-column: 1 / span 3;
    margin-top: auto;
    margin-bottom: auto;
  }
  #lodging_popular_bloc a {
    flex-direction: column;
    margin: 0;
    padding: 2px;
    height: 400px;
    border-radius: 20px 20px 0 0;
  }
  #lodging_popular_bloc a img {
    width: auto;
    height: 250px;
    border-radius: 20px 20px 0 0;
  }
  .lodging_popular_info {
    padding: 20px;
    width: auto;
    height: 100%;
  }
  .lodging_popular_info h3 {
    font-size: 15px;
  }
  .lodging_popular_info p {
    font-size: 13px;
  }
  .lodging_popular_info span {
    bottom: 20px;
    font-size: 12px;
  }
}
@media screen and (min-width: 850px) and (max-width: 1300px) {
  .lodging_popular_info h3 {
    font-size: 17px;
  }
  .lodging_popular_info p {
    font-size: 15px;
  }
  .lodging_popular_info span {
    font-size: 13px;
  }
}
@media screen and (min-width: 1300px) {
  #lodging_popular {
    border-radius: 20px;
  }
  #lodging_popular_bloc {
    display: flex;
    flex-direction: column;
  }
  #lodging_popular_bloc a {
    margin: 15px 0;
    height: 135px;
  }
  #lodging_popular_bloc a img {
    width: 40%;
    height: 135px;
  }
}

/* LODGING MARSEILLE */
#lodging_marseille {
  order: 2;
}
#lodging_marseille_bloc a {
  transition: all 0.2s ease-in;
  display: flex;
  flex-direction: column;
  height: 190px;
  padding: 5px;
  margin-top: 10px;

  background-color: white;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  box-shadow: 2px 2px#c5c5c52c, -0.2em 0 0.4em #c5c5c5;
}
#lodging_marseille_bloc a img {
  transition: all 0.3s;
  height: 120px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.lodging_marseille_info {
  height: 100%;
  margin: 10px;
  margin-bottom: 0;
}
.lodging_marseille_info span {
  color: #0065fc;
  font-size: 10px;
}
/* LODGING MARSEILLE RESPONSIVE */
@media screen and (min-width: 500px) {
  #lodging_marseille_bloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #lodging_marseille_bloc a {
    width: 45%;
  }
}
@media screen and (min-width: 700px) {
  #lodging_marseille {
    border-radius: 20px;
  }
  #lodging_marseille a {
    margin: 15px 0;
    width: 30%;
  }
}
/* END LODGING MARSEILLE */
/* END LODGING */

/* ACTIVITIES */
#activities_bloc {
  margin-bottom: 40px;
}
#activities_bloc a {
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px#c5c5c52c, -0.2em 0 0.4em #c5c5c5;
  text-decoration: none;
  color: black;
}
#activities_bloc a img {
  transition: all 0.3s;
  object-fit: cover;
  height: 130px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
#activities_bloc a h3 {
  font-size: 16px;
  padding: 15px;
  height: 30px;
  margin: 0;
}
/* ACTIVITIES RESPONSIVE */
@media screen and (min-width: 450px) and (max-width: 1300px) {
  #activities_bloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #activities_bloc a {
    width: 49%;
  }
  #activities_bloc a img {
    height: 200px;
  }
}
@media screen and (min-width: 1300px) {
  #activities_bloc {
    display: grid;
    grid-template-columns: repeat(4, 22.75%);
    grid-template-rows: 250px 250px;
    grid-column-gap: 3%;
  }
  #activities_bloc a {
    margin: 0;
  }
  #activities_bloc a:hover {
    transform: scale3d(1.1, 1.1, 1);
  }
  #activities_bloc a:nth-child(1),
  #activities_bloc a:nth-child(4) {
    grid-row: 1 / span2;
    height: 500px;
  }
  #activities_bloc a:nth-child(2),
  #activities_bloc a:nth-child(5) {
    grid-row-end: 2;
  }
  #activities_bloc a:nth-child(4) img,
  #activities_bloc a:nth-child(1) img {
    height: 440px;
  }
  #activities_bloc a:nth-child(2) {
    max-height: 300px;
  }
  #activities_bloc a:nth-child(6) {
    max-height: 300px;
  }
  #activities_bloc a:nth-child(2) img,
  #activities_bloc a:nth-child(6) img {
    height: 190px;
  }
  #activities_bloc a:nth-child(3) {
    margin-top: 50px;
    max-height: 200px;
  }
  #activities_bloc a:nth-child(5) {
    max-height: 200px;
  }
  #activities_bloc a:nth-child(3) img,
  #activities_bloc a:nth-child(5) img {
    height: 140px;
  }
}
/* END ACTIVITIES RESPONSIVE */
/* END ACTIVITIES */

/* FOOTER */
footer {
  background-color: #f2f2f2;
  padding: 20px 0 20px 0;
  font-family: 'raleway', Arial, serif;
}
footer section {
  padding: 20px 0 20px 0;
}
footer section h3 {
  margin: 0;
  padding-bottom: 10px;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
footer ul li {
  margin-top: 10px;
}
/* FOOTER RESPONSIVE */
@media screen and (min-width: 800px) {
  .footer_bloc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* END FOOTER */