body {
  margin: auto;
  min-width: 360px;
  font-family: Raleway;
}
.bloc {
  width: 90%;
  margin: auto;
  padding: 20px 0;
}

/*HEADER */
/*NAVIGATION */
nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
